header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:solid;
    padding:0px 20px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding-left:10px;
}